form {
  padding: 10px 0;

  label {
    width: 300px;
    display: inline-block;
  }

  input[type=checkbox]+label {
    width: unset;
  }

  input[type=text], select {
    width: 300px;
    display: inline-block;
  }

  input[type=checkbox] {
    vertical-align: bottom;
    margin-left: 20px;
  }

  &>div {
    margin-top: 10px;
  }

  .error-msg {
    color: #A94442;
    background: #F2DEDE;
    margin-left: 20px;
    border: 1px solid #A94442;
  }
}
