
  <div class="action-bar">
    <span class="action-item" (click)="save()">
      <img src="assets/img/004_save.png" alt="">
      <span>Save</span>
    </span>
    <span class="action-item" (click)="saveAndClose()">
      <img src="assets/img/1166_save-and-new.png" alt="">
      <span>Save & close</span>
    </span>
    <span class="action-item" (click)="saveAndNew()">
      <img src="assets/img/1166_save-and-new.png" alt="">
      <span>Save & new</span>
    </span>
    <span class="action-item" (click)="cancel()">
      <img src="assets/img/019_cancel.png" alt="">
      <span>Cancel</span>
    </span>
  </div>
