<div class="search-bar">
  <input type="text" placeholder="Name" [(ngModel)]="searchFilter.name">
  <select name="gender" id="gender" [(ngModel)]="searchFilter.gender">
    <option class="hide" value="-1">Gender</option>
    <option *ngFor="let option of genderOptions" value="{{option.value}}">{{option.name}}</option>
  </select>
  <input type="checkbox" name="active" [(ngModel)]="searchFilter.includeInactive">
  <label for="active">include inactive</label>
</div>
<div class="search-action">
  <button class="btn" (click)="clickSearch()">Search</button>
  <button class="btn" (click)="clickClear()">Clear</button>
</div>
