/* You can add global styles to this file, and also import other style files */
html {
  font-size: 10px;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  background-color: #eaeaea;
}

.btn {
  background-color: #81aed8;
  border-color: #4e8ec7;
  border-width: 1px;
  cursor: pointer;

  &:hover {
    border-color: black;
  }

  &:active {
    box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
    background-color: #117a8b;
    border-color: #10707f;
  }
}

.hide {
  display: none;
}

.h-center {
  text-align: center;
}
