<div class="search">
  <header>
    <h2>Manage Aliens</h2>
    <div class="search-bar">
      <input type="text" placeholder="Name" [(ngModel)]="searchFilter.name">
      <select name="gender" id="gender" [(ngModel)]="searchFilter.gender">
        <option class="hide" value="-1">Gender</option>
        <option *ngFor="let option of genderOptions" value="{{option.value}}">{{option.name}}</option>
      </select>
      <input type="checkbox" name="active"  [(ngModel)]="searchFilter.includeInActive">
      <label for="active">include inactive</label>
    </div>
    <div class="search-action">
      <button class="btn" (click)="search()">Search</button>
      <button class="btn" (click)="clear()">Clear</button>
    </div>
  </header>
  <main>
    <div class="result">
      <span *ngIf="loading">retrieving...</span>
      <span *ngIf="!loading">{{aliens && aliens.length}} results</span>
      &nbsp;
      <img src="assets/img/148_refresh.png" (click)="search()" alt="">
    </div>
    <div>
      <p-table [value]="aliens">
        <ng-template pTemplate="header">
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Active</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alien>
          <tr>
            <td>{{alien.code}}</td>
            <td>{{alien.name}}</td>
            <td>{{formatGender(alien.gender)}}</td>
            <td>
              <img *ngIf="alien.active" src="assets/img/2197_checked.png" alt="">
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </main>
  <footer>
    <Button class="btn">New</Button>
    <Button class="btn">Edit</Button>
    <Button class="btn">Duplicate</Button>
    <Button class="btn">Delete</Button>
  </footer>
</div>
